:root {
  --black: #0f0f0f;
  --white: #eee;
  --grey: grey;
  --dark-grey: #262626;
  --light-black: #131313;
  --red: #3292ff;
  --dark-red: #18467a;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: Intertight, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

h1 {
  letter-spacing: -.15rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 9rem;
  font-weight: 700;
  line-height: 85%;
}

h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5rem;
  font-weight: 700;
  line-height: 90%;
}

h3 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 100%;
}

h4 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 110%;
}

h5 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
}

h6 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
}

p {
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 120%;
}

a {
  color: var(--white);
  cursor: pointer;
  text-decoration: underline;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: inline-block;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 3rem;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

figure {
  margin-bottom: 10px;
}

.body-small {
  text-transform: none;
  font-size: 1rem;
}

.body-small.additonal {
  align-self: auto;
}

.body-small.faq {
  color: var(--grey);
  margin-top: 2rem;
  line-height: 140%;
}

.body-small.contact {
  max-width: 250px;
  padding-top: 2rem;
}

.body-large {
  opacity: 1;
  vertical-align: baseline;
  mix-blend-mode: normal;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 125%;
  display: block;
}

.body-large.work {
  color: var(--white);
  margin-bottom: 6rem;
  font-size: 1.25rem;
  display: block;
}

.section {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: relative;
}

.section.services {
  color: var(--white);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section.start {
  padding-top: 3.5rem;
  padding-bottom: 6rem;
}

.section.quick-about {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section.faq {
  aspect-ratio: auto;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  top: auto;
  bottom: auto;
  left: auto;
  overflow: visible;
}

.section.footer {
  padding-top: 6rem;
}

.section.start-v2 {
  padding-top: 8rem;
  padding-bottom: 0;
}

.section.work {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section.about {
  padding-top: 9.75rem;
  padding-bottom: 9.75rem;
  display: block;
}

.container {
  max-width: 1360px;
  position: relative;
}

.container.navigation {
  position: static;
}

._12-column-grid {
  grid-column-gap: .5rem;
  grid-row-gap: 2em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items: stretch stretch;
  width: 100%;
  margin-top: 2rem;
}

._12-column-grid.home {
  grid-row-gap: .5rem;
}

.image-and-text-wrapper {
  border: 1px solid var(--dark-grey);
  background-color: var(--light-black);
  border-radius: .625rem;
  width: 100%;
  padding: .5rem;
  text-decoration: none;
  transition: background-color .5s cubic-bezier(.645, .045, .355, 1);
  position: relative;
  overflow: hidden;
}

.image-and-text-wrapper:hover {
  background-color: var(--dark-grey);
}

.image-wrapper {
  border-radius: .313rem;
  position: relative;
  overflow: hidden;
}

.small {
  height: 250px;
}

.normal {
  height: 350px;
}

.big {
  height: 450px;
}

.text-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem .5rem .75rem;
  display: flex;
}

.text-wrapper.news {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}

.additonal {
  color: var(--grey);
  font-style: italic;
}

.additonal.body-small {
  display: block;
}

.primary-button {
  background-color: var(--white);
  color: var(--black);
  border-radius: 10rem;
  padding: 1.25rem 1.5rem;
  font-size: 1rem;
  line-height: 100%;
  text-decoration: none;
  transition: background-color .5s cubic-bezier(.645, .045, .355, 1);
}

.primary-button:hover {
  background-color: var(--grey);
}

.background-wrapper {
  border-radius: .625rem;
  justify-content: center;
  align-items: flex-start;
  display: none;
  position: absolute;
  inset: 0%;
}

.big-number-wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  position: relative;
}

.big-number {
  letter-spacing: -.25rem;
  font-size: 8rem;
  line-height: 75%;
}

.big-number-text-wrapper {
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  display: flex;
}

.red-background {
  border: 1px solid var(--dark-grey);
  background-color: var(--red);
  width: 100%;
  max-width: 1840px;
  height: 100%;
  margin-left: .5rem;
  margin-right: .5rem;
}

.image-reveal {
  z-index: 1;
  background-color: var(--red);
  display: none;
  position: absolute;
  inset: auto 0% 0%;
}

.heading {
  overflow: hidden;
}

.heading-interaction-mark {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.name-wrapper {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon-14px {
  width: 14px;
  height: 14px;
}

.navbar {
  z-index: 999;
  border-bottom: 1px solid var(--dark-grey);
  background-color: var(--light-black);
  width: 100%;
  padding: .5rem 2.5rem;
  position: fixed;
}

.navigation-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  display: flex;
}

.menu-line {
  background-color: var(--white);
  width: 70px;
  height: 2px;
}

.menu {
  grid-column-gap: .625rem;
  grid-row-gap: .625rem;
  cursor: pointer;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  transition: opacity .2s;
  display: flex;
}

.menu:hover {
  opacity: .5;
}

.logo {
  width: auto;
  max-width: none;
  height: 22px;
}

.image.normal {
  padding-bottom: 0;
}

.image.work {
  border-radius: 6px;
  height: 700px;
}

.menu-dropdown {
  z-index: 99;
  background-color: var(--red);
  color: var(--black);
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-bottom: 4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: none;
  position: absolute;
  inset: 0% auto auto 0%;
}

.menu-link {
  color: var(--black);
  text-decoration: none;
  transition: padding .8s cubic-bezier(.645, .045, .355, 1);
}

.menu-link:hover {
  padding-left: 3rem;
}

.menu-link-wrapper {
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem;
  flex-flow: column;
  display: flex;
}

.down {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 0;
  padding-right: 4rem;
  display: flex;
}

.menu-small-link {
  color: var(--black);
  text-decoration: none;
  transition: opacity .3s;
}

.menu-small-link:hover {
  opacity: .5;
}

.small-link-div {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-flow: column;
  display: flex;
}

.small-menu-links-wrapper {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  flex-flow: column;
  font-weight: 600;
  display: flex;
}

.menu-items-wrapper {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1360px;
  height: 100%;
  display: flex;
}

.top {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
  display: flex;
}

.icon-48px {
  width: 48px;
  max-width: none;
  height: 48px;
}

.menu-reveal {
  z-index: 100;
  background-color: var(--dark-red);
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  inset: 0%;
}

.brand {
  padding-left: 0;
  transition: opacity .3s;
}

.brand:hover {
  opacity: .5;
}

.brand.w--current {
  padding-left: 0;
}

.logos-slider {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 4rem;
  margin-bottom: 5rem;
  padding-top: 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.gradient {
  z-index: 1;
  background-image: linear-gradient(90deg, var(--black), #0f0f0f00);
  width: 90px;
  height: 90%;
  position: absolute;
  inset: auto auto auto 0%;
}

.gradient.right {
  background-image: linear-gradient(90deg, #0f0f0f00, var(--black));
  left: auto;
  right: 0%;
}

.divider {
  background-color: var(--dark-grey);
  width: 100%;
  height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.divider.absolute {
  position: absolute;
  inset: 0% 0% auto;
}

.divider.margin {
  margin-bottom: 2rem;
}

.divider.faq.faq-margin {
  background-color: #26262600;
  margin-top: 2rem;
}

.logos-line-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  display: flex;
}

.logos-line {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
}

.slider-logo {
  width: auto;
  max-width: none;
  height: 28px;
}

.description {
  max-width: 250px;
}

.horizontal-info-block {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
}

.above {
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
}

.inside {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
}

.info-and-number {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  display: flex;
}

.button {
  grid-column-gap: .375rem;
  grid-row-gap: .375rem;
  opacity: 1;
  color: #2b2b2b;
  background-color: #3898ec00;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  transition-property: none;
  display: flex;
}

.button:hover {
  opacity: 1;
}

.divider-2 {
  background-color: #b9b9b9;
  width: 100%;
  height: 2px;
}

.icon {
  width: 64px;
  height: 64px;
}

.icon.faq {
  width: 32px;
  height: 32px;
}

.dropdown-content {
  max-width: 90%;
  overflow: hidden;
}

.faq-div {
  border: 1px solid var(--dark-grey);
  background-color: var(--light-black);
  cursor: pointer;
  border-radius: .625rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: background-color .5s cubic-bezier(.645, .045, .355, 1);
}

.faq-div:hover {
  background-color: var(--dark-grey);
}

.dropdown-header {
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8%;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  display: grid;
}

.faq-wrapper {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  display: flex;
}

.text-field {
  border: 1px solid var(--dark-grey);
  background-color: var(--light-black);
  color: var(--white);
  border-radius: .625rem;
  height: 60px;
  margin-bottom: 2rem;
  padding: 1.5rem 1.25rem;
  font-size: 1rem;
  line-height: 120%;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}

.text-field:focus {
  border-color: var(--grey);
}

.text-field::placeholder {
  font-weight: 400;
}

.text-field.big {
  height: 100%;
  min-height: 140px;
}

.field-label {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
}

.footer-links-block {
  width: 100%;
}

.divider-4 {
  background-color: #b9b9b9;
  width: 100%;
  height: 2px;
}

.footer-links {
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
}

.footer-underline-link {
  transition: opacity .3s cubic-bezier(.645, .045, .355, 1);
}

.footer-underline-link:hover {
  opacity: .5;
}

.footer-links-wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer-link {
  color: #d7d7d7;
  text-decoration: none;
  transition: opacity .3s cubic-bezier(.645, .045, .355, 1);
}

.footer-link:hover {
  opacity: .5;
}

.collection-list {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.error-message {
  background-color: var(--red);
  color: var(--black);
  border-radius: .65rem;
  margin-top: 1.5rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: 140%;
}

.success-message {
  border: 1px solid var(--dark-grey);
  background-color: var(--light-black);
  border-radius: .65rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: 140%;
}

.image-and-text-wrapper---about {
  background-color: #13131300;
  border-radius: .625rem;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  padding: 0;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.background-image {
  width: 100vw;
  position: fixed;
  inset: 0% 0% auto;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
  position: relative;
}

.utility-page-content {
  text-align: left;
  flex-direction: column;
  width: 500px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.start-images-wrapper {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 1rem;
  display: grid;
}

.rich-text-block h1, .rich-text-block h2, .rich-text-block h3, .rich-text-block h4, .rich-text-block h5, .rich-text-block h6, .rich-text-block p {
  margin-bottom: 3rem;
}

.rich-text-block ol, .rich-text-block ul {
  margin-top: -2rem;
  margin-bottom: 3rem;
}

.rich-text-block figure {
  border-radius: .65rem;
  margin-bottom: 3rem;
  overflow: hidden;
}

.div-block-2 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  display: flex;
}

.colors-wrapper {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: wrap;
  display: flex;
}

.color {
  border-radius: .65rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: 120%;
}

.color.black {
  border: 1px solid var(--dark-grey);
}

.color.white {
  background-color: var(--white);
  color: var(--black);
}

.color.light-black {
  border: 1px solid var(--dark-grey);
  background-color: var(--light-black);
}

.color.dark-grey {
  background-color: var(--dark-grey);
}

.color.red {
  background-color: var(--red);
}

.color.dark-red {
  background-color: var(--dark-red);
}

.color.grey {
  background-color: var(--grey);
}

.typography-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  display: flex;
}

.protected-page {
  margin-bottom: 3rem;
}

.paragraph {
  aspect-ratio: auto;
  object-fit: fill;
  padding-top: 0;
}

.link {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.link.w--current {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.link.title {
  font-size: 20px;
}

.flex-block-2 {
  box-sizing: border-box;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: fill;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  width: 1360px;
  min-width: auto;
  max-width: 1360px;
  height: 56px;
  min-height: 0;
  max-height: 56px;
  display: flex;
  position: static;
  inset: auto 0% 0% 163px;
  overflow: visible;
}

.flex-block-4 {
  box-sizing: content-box;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  min-width: auto;
  max-width: 1360px;
  min-height: auto;
  max-height: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 0;
  display: flex;
  overflow: visible;
}

.paragraph-2 {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.bold-text {
  position: static;
}

.image-2 {
  object-fit: cover;
}

.body {
  margin-left: auto;
  margin-right: auto;
}

.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.paragraph-3 {
  display: block;
}

.video {
  flex: 0 auto;
}

@media screen and (min-width: 1920px) {
  .body-small.contact {
    max-width: 300px;
    margin-right: 0;
    padding-right: 0;
    display: block;
  }

  .section.quick-about {
    padding-bottom: 2rem;
  }

  .section.faq {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .section.footer {
    padding-top: 2rem;
    padding-bottom: 0;
  }

  ._12-column-grid {
    padding-bottom: 1rem;
  }

  ._12-column-grid.home {
    width: 1360px;
  }

  .primary-button {
    box-sizing: border-box;
    display: inline-block;
    overflow: visible;
  }

  .heading-interaction-mark {
    margin-top: auto;
  }

  .navbar {
    margin-top: 0;
  }

  .menu-link-wrapper {
    padding-bottom: 0;
  }

  .down {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    place-items: end stretch;
    margin-top: 0;
    margin-bottom: 12rem;
    display: flex;
  }

  .top {
    justify-content: space-between;
    align-items: flex-end;
  }

  .icon-48px.menu {
    justify-content: flex-start;
    align-items: center;
  }

  .menu-reveal {
    overflow: visible;
  }

  .logos-slider {
    margin-top: 10px;
  }

  .divider {
    margin-top: 2rem;
    padding-top: 0;
  }

  .divider.absolute {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .divider.margin {
    margin-bottom: 0;
    padding-bottom: 8rem;
  }

  .text-block {
    padding-left: 1rem;
  }

  .link {
    padding-left: 0;
  }

  .link.w--current {
    text-transform: uppercase;
    padding-left: 1rem;
    text-decoration: none;
  }

  .container-2 {
    max-width: 1360px;
  }

  .text-block-2 {
    box-sizing: border-box;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    vertical-align: baseline;
    object-fit: fill;
    flex-flow: row;
    justify-content: flex-start;
    align-items: stretch;
    padding-right: 0;
    display: inline-block;
  }

  .column {
    box-sizing: border-box;
    object-fit: contain;
    left: auto;
  }

  .flex-block {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 1360px;
    max-width: 1360px;
    display: flex;
    overflow: visible;
  }

  .flex-block-2 {
    box-sizing: border-box;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    aspect-ratio: auto;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-end;
    align-items: center;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow: visible;
  }

  .flex-block-3 {
    justify-content: center;
    align-items: flex-end;
  }

  .text-block-3 {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 20px;
    font-weight: 600;
  }

  .flex-block-4 {
    padding-top: 0;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 7rem;
  }

  .text-wrapper {
    padding-right: .75rem;
  }

  .image.small, .image.normal.start {
    height: 80px;
  }

  .image.big.start {
    height: 200px;
  }

  .image.work {
    height: 500px;
  }

  .menu-dropdown {
    height: 100dvh;
  }

  .down {
    justify-content: space-between;
    align-items: flex-start;
  }

  .icon-48px.menu {
    width: 32px;
    height: 32px;
  }

  .logos-line {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
  }

  .slider-logo {
    height: 22px;
  }

  .info-and-number {
    max-width: 300px;
  }

  .collection-list {
    grid-template-columns: 1fr;
  }

  .start-images-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  .body-small.start {
    display: none;
  }

  .body-large {
    font-size: 2rem;
    line-height: 110%;
  }

  .section {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .section.services {
    padding-bottom: 6rem;
  }

  .section.quick-about {
    padding-bottom: 9rem;
  }

  .section.faq {
    padding-top: 9rem;
  }

  .section.work {
    padding-bottom: 6rem;
  }

  .navbar {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .image.work {
    height: 400px;
  }

  .menu-dropdown {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .down {
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 0;
  }

  .small-menu-links-wrapper {
    flex-flow: wrap;
  }

  .inside {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .info-and-number {
    flex-flow: row-reverse;
    max-width: none;
  }

  .icon {
    width: 48px;
    height: 48px;
  }

  .footer-links {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-links-wrapper {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .utility-page-wrap {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 14vw;
  }

  h2 {
    font-size: 11vw;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  .body-large {
    font-size: 1.8rem;
  }

  .section.services {
    padding-top: 4rem;
  }

  .section.faq {
    padding-top: 6rem;
  }

  .big-number {
    font-size: 6rem;
  }

  .image.big {
    height: 350px;
  }

  .image.work {
    height: 300px;
  }

  .above {
    margin-top: 0;
  }

  .footer-links-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

#w-node-c84f91ef-e959-cbf9-4671-c3998d2f5026-254993f3 {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_2639a9b0-5a87-d396-3d16-82e68a3f5bca-254993f3 {
  grid-area: 1 / 1 / 2 / 13;
  place-self: auto;
}

#w-node-_34a8dba1-0925-17f8-aa65-e5d0d583a035-254993f3 {
  grid-area: 1 / 3 / 2 / 4;
  align-self: start;
}

#w-node-bc0172f2-389f-b287-27da-49fb3bf38294-254993f3 {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-fa826b18-9d3b-5166-1f08-b32ddc5a4ea0-254993f3 {
  grid-area: span 1 / span 12 / span 1 / span 12;
}

#w-node-a7f7d73c-f11a-78ad-1d26-62b72e32bdae-254993f3 {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_5072c20b-e69f-d98e-8861-5cf07885ee9b-254993f3 {
  grid-area: 2 / 1 / 3 / 13;
  align-self: center;
}

#w-node-_51f56cee-f8cb-c9a0-3736-32a3db32757b-254993f3 {
  grid-area: 3 / 1 / 4 / 7;
}

#w-node-d07b3140-ec6c-35a9-3354-b0c4d93f53d1-254993f3 {
  grid-area: 3 / 7 / 4 / 13;
}

#w-node-_98848bed-a3df-9eb9-58e5-9af6c325a586-254993f3 {
  grid-area: 4 / 1 / 5 / 7;
}

#w-node-_06041af8-6059-1620-2c0f-9c4a869749ff-254993f3 {
  grid-area: 4 / 7 / 5 / 13;
}

#w-node-_14a9e443-5e3d-a21d-f7eb-7454e188b4c4-254993f3 {
  grid-area: 8 / 1 / 9 / 13;
}

#w-node-d53de51c-1e0e-9fb8-3c8e-dd3d5130bebb-254993f3 {
  grid-area: 1 / 1 / 2 / 13;
}

#w-node-d53de51c-1e0e-9fb8-3c8e-dd3d5130bec2-254993f3, #w-node-a50ae5ce-939f-5109-575e-c455de14164d-254993f3 {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-c8414903-3e1a-585b-a3cb-197bc53d2ebe-254993f3 {
  grid-area: 1 / 1 / 2 / 13;
}

#w-node-_0e08597d-9fbd-c0b1-e87e-9afdc7abd18c-254993f3 {
  grid-area: 5 / 1 / 6 / 7;
}

#w-node-_251b9000-d726-00d8-ce50-ad493905d926-254993f3 {
  grid-area: 6 / 1 / 7 / 13;
}

#w-node-_912300b1-fcb3-5c4c-e02f-d9855db96c12-254993f3 {
  grid-area: span 1 / span 8 / span 1 / span 8;
}

#w-node-eacbe0d8-e3ff-d725-6772-de98cb02b916-254993f3 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: end;
}

#w-node-_921dc534-1a7b-e2cf-9653-4dd25a498440-254993f3, #w-node-bfb56247-4b22-dd6e-1a80-d638a78b910c-254993f3 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-b0e90e5a-8965-4a7b-d696-6548bbc02206-bbc02203 {
  grid-area: 1 / 1 / 2 / 13;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b76-254993f4 {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b7b-254993f4 {
  grid-area: 4 / 7 / 5 / 13;
  align-self: center;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b81-254993f4 {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b82-254993f4 {
  grid-area: 5 / 7 / 6 / 13;
  place-self: start;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b85-254993f4 {
  grid-area: 5 / 1 / 6 / 7;
}

#w-node-_79750ba7-ba71-4f0b-49ae-f0d80acae19f-254993f4 {
  grid-area: 6 / 1 / 7 / 13;
}

#w-node-_79750ba7-ba71-4f0b-49ae-f0d80acae1a0-254993f4 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_79750ba7-ba71-4f0b-49ae-f0d80acae1ab-254993f4 {
  grid-area: span 1 / span 6 / span 1 / span 6;
  align-self: auto;
}

#w-node-_79750ba7-ba71-4f0b-49ae-f0d80acae1b6-254993f4, #w-node-_79750ba7-ba71-4f0b-49ae-f0d80acae1c1-254993f4, #w-node-c3546606-c516-6317-a06a-a9e10d19cb40-254993f4, #w-node-becd14ac-1d81-3489-8f99-8221d5e88972-254993f4, #w-node-b53d43f7-5331-997b-32a0-afc196491fa4-254993f4 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_13dfe064-fb4f-7c6c-ca55-38ab686e8ce3-254993f5 {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_13dfe064-fb4f-7c6c-ca55-38ab686e8ce5-254993f5 {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_13dfe064-fb4f-7c6c-ca55-38ab686e8ce6-254993f5 {
  grid-area: 4 / 7 / 5 / 11;
  align-self: center;
}

#w-node-_13dfe064-fb4f-7c6c-ca55-38ab686e8ce7-254993f5 {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_13dfe064-fb4f-7c6c-ca55-38ab686e8ceb-254993f5 {
  grid-area: 5 / 1 / 6 / 7;
}

#w-node-_13dfe064-fb4f-7c6c-ca55-38ab686e8cec-254993f5 {
  grid-area: 6 / 1 / 7 / 13;
}

#w-node-fa0aa912-2bed-e27c-bf15-c6eb67f14562-254993f5 {
  grid-area: 1 / 4 / 2 / 13;
  align-self: center;
}

#w-node-fa0aa912-2bed-e27c-bf15-c6eb67f14563-254993f5 {
  grid-area: 1 / 1 / 2 / 3;
  align-self: start;
}

#w-node-_17a62185-0744-90b2-18b0-f08792ef06b0-254993f5 {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_2dd85ca6-9d2f-f3a2-0208-1fce7cdbf5b0-254993f5 {
  grid-area: 4 / 1 / 5 / 13;
}

#w-node-_3356cbc8-79e8-291d-82b3-799d93720cce-254993f5 {
  grid-area: 2 / 4 / 3 / 13;
  align-self: center;
}

#w-node-fcf1fdea-5491-e438-7b78-6e9e1dab9ea4-254993f5 {
  grid-area: 1 / 4 / 2 / 13;
  align-self: center;
}

#w-node-_3356cbc8-79e8-291d-82b3-799d93720ccf-254993f5 {
  grid-area: 1 / 1 / 2 / 3;
  align-self: start;
}

#w-node-_6a20c567-6dfe-aedd-6ce4-5e5767383f55-254993f5 {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_6a20c567-6dfe-aedd-6ce4-5e5767383f58-254993f5 {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_6a20c567-6dfe-aedd-6ce4-5e5767383f5a-254993f5 {
  grid-area: 4 / 7 / 5 / 11;
  align-self: center;
}

#w-node-_6a20c567-6dfe-aedd-6ce4-5e5767383f60-254993f5 {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_6a20c567-6dfe-aedd-6ce4-5e5767383f61-254993f5 {
  grid-area: 5 / 7 / 6 / 13;
  place-self: start;
}

#w-node-_6a20c567-6dfe-aedd-6ce4-5e5767383f64-254993f5 {
  grid-area: 5 / 1 / 6 / 7;
}

#w-node-c09d194d-ad87-6e5b-6ab4-cadc834740d6-254993f5 {
  grid-area: 6 / 1 / 7 / 13;
}

#w-node-_72afd481-35e9-f696-0c55-eb6c1c91bdbb-254993f6 {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_72afd481-35e9-f696-0c55-eb6c1c91bdbe-254993f6 {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_72afd481-35e9-f696-0c55-eb6c1c91bdc6-254993f6 {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-b572749b-7f54-b558-9e67-e09f9aae502d-254993f6 {
  grid-area: 4 / 1 / 6 / 13;
}

#w-node-_80e30cb0-1711-a9a9-fe73-6c4c23c25043-254993f6 {
  grid-area: 6 / 3 / 7 / 11;
}

#w-node-_178bf857-f2a4-32dc-edce-4d3412c89c31-254993f6 {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_178bf857-f2a4-32dc-edce-4d3412c89c34-254993f6 {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_178bf857-f2a4-32dc-edce-4d3412c89c36-254993f6 {
  grid-area: 4 / 7 / 5 / 13;
  align-self: center;
}

#w-node-_178bf857-f2a4-32dc-edce-4d3412c89c3c-254993f6 {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_178bf857-f2a4-32dc-edce-4d3412c89c3d-254993f6 {
  grid-area: 5 / 7 / 6 / 13;
  place-self: start;
}

#w-node-_178bf857-f2a4-32dc-edce-4d3412c89c40-254993f6 {
  grid-area: 5 / 1 / 6 / 7;
}

#w-node-_178bf857-f2a4-32dc-edce-4d3412c89c41-254993f6 {
  grid-area: 6 / 1 / 7 / 13;
}

#w-node-a2c3650d-3fc4-65f4-cdd0-b9f687173a5a-87173a57 {
  grid-area: 1 / 1 / 2 / 6;
}

#w-node-a2c3650d-3fc4-65f4-cdd0-b9f687173a61-87173a57 {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-a2c3650d-3fc4-65f4-cdd0-b9f687173a65-87173a57 {
  grid-area: 1 / 6 / 2 / 13;
}

#w-node-_2896549d-a44a-9b18-3957-ee64058ceefe-254993f7 {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_2896549d-a44a-9b18-3957-ee64058cef09-254993f7 {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_604ff45c-93b9-77d4-f606-4bd15200b669-254993f7 {
  grid-area: 6 / 1 / 7 / 13;
}

#w-node-_55a753dc-c35a-2da3-759e-d7552b4781f7-254993f8 {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_55a753dc-c35a-2da3-759e-d7552b4781fa-254993f8 {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_55a753dc-c35a-2da3-759e-d7552b4781fc-254993f8 {
  grid-area: 4 / 1 / 5 / 7;
  align-self: center;
}

#w-node-_55a753dc-c35a-2da3-759e-d7552b47822c-254993f8 {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_1db88f81-aa5a-fe72-9824-0d9fedf57bbe-254993f8 {
  grid-area: 5 / 1 / 6 / 7;
  place-self: start;
}

#w-node-_152fa396-3654-b66a-585a-d47ee12a256b-254993fb {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_152fa396-3654-b66a-585a-d47ee12a256e-254993fb {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_152fa396-3654-b66a-585a-d47ee12a2570-254993fb {
  grid-area: 4 / 1 / 5 / 7;
  align-self: center;
}

#w-node-_4aac87c9-d87f-7d4b-0e6e-115cebb22716-254993fb {
  grid-area: 5 / 1 / 6 / 7;
}

#w-node-_91b2754f-b717-199d-a33f-3b4e3550e8f2-254993fb {
  grid-area: 6 / 1 / 7 / 7;
  align-self: center;
}

#w-node-_22d363c6-ce8c-e810-e7f6-0497373536ac-254993fb {
  grid-area: 7 / 1 / 8 / 7;
}

#w-node-_5d0c8b1c-e84a-36c0-045e-44acc0109fc4-254993fb {
  grid-area: 8 / 1 / 9 / 7;
  align-self: center;
}

#w-node-fdca4d63-ee7a-f64e-d0fc-031e0aa26c17-254993fb {
  grid-area: 9 / 1 / 10 / 7;
}

#w-node-_30c7e67a-5764-fda9-3222-aed5dcbe6ba1-254993fb {
  grid-area: 10 / 1 / 11 / 7;
  align-self: center;
}

#w-node-_5380b8b3-c278-5b08-bdb2-b2c7d9f21044-254993fb {
  grid-area: 12 / 1 / 13 / 7;
  align-self: center;
}

#w-node-_857b55d4-aa16-7dca-15a1-03e3e5c51099-254993fb {
  grid-area: 11 / 1 / 12 / 7;
}

#w-node-_152fa396-3654-b66a-585a-d47ee12a2576-254993fb {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_8a8270fa-1ba5-a66b-7d58-3611872b2d94-254993fc {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_8a8270fa-1ba5-a66b-7d58-3611872b2d97-254993fc {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_8a8270fa-1ba5-a66b-7d58-3611872b2d9b-254993fc {
  grid-area: 4 / 1 / 5 / 7;
}

#w-node-_8a8270fa-1ba5-a66b-7d58-3611872b2d9d-254993fc {
  grid-area: 5 / 1 / 6 / 7;
  align-self: center;
}

#w-node-_8a8270fa-1ba5-a66b-7d58-3611872b2dc9-254993fc {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_3db13fca-ec33-c373-0a42-9c70b61135ce-254993fd {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_3db13fca-ec33-c373-0a42-9c70b61135d1-254993fd {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_3db13fca-ec33-c373-0a42-9c70b61135d5-254993fd {
  grid-area: 4 / 1 / 5 / 7;
}

#w-node-_3db13fca-ec33-c373-0a42-9c70b61135d7-254993fd {
  grid-area: 5 / 1 / 6 / 7;
  align-self: center;
}

#w-node-_3db13fca-ec33-c373-0a42-9c70b6113603-254993fd {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_388ff7ba-a602-5443-125c-a1256ca087a7-254993fe {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_388ff7ba-a602-5443-125c-a1256ca087aa-254993fe {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_388ff7ba-a602-5443-125c-a1256ca087dc-254993fe {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_60dcaaf2-385d-fdd8-3488-8d0ff155dc3d-254993fe {
  grid-area: 5 / 1 / 6 / 13;
}

#w-node-_71a6a51a-84a8-68c1-29a1-a939c3b74403-254993fe {
  grid-area: 1 / 1 / 2 / 13;
}

#w-node-_388ff7ba-a602-5443-125c-a1256ca087ae-254993fe {
  grid-area: 4 / 1 / 5 / 7;
}

#w-node-_7ac3f3b9-8a58-111e-8413-ca522339d918-254993fe {
  grid-area: 6 / 1 / 7 / 13;
}

#w-node-cb718c91-2184-7ee6-1f1f-43a0f561bfe0-254993fe {
  grid-area: 7 / 1 / 8 / 7;
}

#w-node-d24a02cb-401c-67b0-fa23-cd3dfd075606-254993fe {
  grid-area: 8 / 1 / 9 / 13;
}

#w-node-_33879ae7-ec63-708a-1730-d296c7d5dee8-254993fe {
  grid-area: 1 / 1 / 2 / 7;
}

#w-node-_95b1f8ff-62d2-e956-319d-5c491cb584ac-254993fe {
  grid-area: 9 / 1 / 10 / 13;
}

#w-node-_0d105052-963a-bdfd-a68a-e87d75e12b71-254993fe {
  grid-area: 10 / 1 / 11 / 7;
}

#w-node-a066dde4-bd6f-b74d-31d0-cf9ae43509fc-254993fe {
  grid-area: 11 / 1 / 12 / 11;
}

#w-node-_39872498-4a08-6e75-0dcc-d947e21efe30-254993fe {
  grid-area: 12 / 1 / 13 / 13;
}

#w-node-e8d9432b-00a9-1040-01af-0dfd3f7390b2-254993fe {
  grid-area: 13 / 1 / 14 / 7;
}

#w-node-_6d787c08-80bc-1a3d-de7b-d9c09d1ff4cb-254993fe {
  grid-area: 14 / 1 / 15 / 13;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b76-3f118c78 {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_87540087-6e63-875d-befe-9e151060e601-3f118c78 {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b81-3f118c78 {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b85-3f118c78 {
  grid-area: 5 / 1 / 6 / 7;
}

#w-node-_07a32bea-7c09-3516-06bc-22c073d325a6-3f118c78 {
  grid-area: 6 / 1 / 7 / 13;
}

#w-node-_77b9c3c9-c470-bdf3-be84-9de5f1fa12d3-3f118c78 {
  grid-area: 1 / 4 / 2 / 13;
  align-self: center;
}

#w-node-_29bc8556-aadb-534f-565b-8cf726563631-3f118c78 {
  grid-area: 1 / 1 / 2 / 3;
  align-self: auto;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b76-3e79ad0f {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_87540087-6e63-875d-befe-9e151060e601-3e79ad0f {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b81-3e79ad0f {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b85-3e79ad0f {
  grid-area: 5 / 1 / 6 / 7;
}

#w-node-_07a32bea-7c09-3516-06bc-22c073d325a6-3e79ad0f {
  grid-area: 6 / 1 / 7 / 13;
}

#w-node-_77b9c3c9-c470-bdf3-be84-9de5f1fa12d3-3e79ad0f {
  grid-area: 1 / 4 / 2 / 13;
  align-self: center;
}

#w-node-_29bc8556-aadb-534f-565b-8cf726563631-3e79ad0f {
  grid-area: 1 / 1 / 2 / 3;
  align-self: auto;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b76-aa4c5b74 {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_87540087-6e63-875d-befe-9e151060e601-aa4c5b74 {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b81-aa4c5b74 {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b85-aa4c5b74 {
  grid-area: 5 / 1 / 6 / 7;
}

#w-node-_07a32bea-7c09-3516-06bc-22c073d325a6-aa4c5b74 {
  grid-area: 6 / 1 / 7 / 13;
}

#w-node-_77b9c3c9-c470-bdf3-be84-9de5f1fa12d3-aa4c5b74 {
  grid-area: 1 / 4 / 2 / 13;
  align-self: center;
}

#w-node-_29bc8556-aadb-534f-565b-8cf726563631-aa4c5b74 {
  grid-area: 1 / 1 / 2 / 3;
  align-self: auto;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b76-d47110ad {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_87540087-6e63-875d-befe-9e151060e601-d47110ad {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b81-d47110ad {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b85-d47110ad {
  grid-area: 5 / 1 / 6 / 7;
}

#w-node-_07a32bea-7c09-3516-06bc-22c073d325a6-d47110ad {
  grid-area: 6 / 1 / 7 / 13;
}

#w-node-_77b9c3c9-c470-bdf3-be84-9de5f1fa12d3-d47110ad {
  grid-area: 1 / 4 / 2 / 13;
  align-self: center;
}

#w-node-_29bc8556-aadb-534f-565b-8cf726563631-d47110ad {
  grid-area: 1 / 1 / 2 / 3;
  align-self: auto;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b76-d2586321 {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_87540087-6e63-875d-befe-9e151060e601-d2586321 {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b81-d2586321 {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b85-d2586321 {
  grid-area: 5 / 1 / 6 / 7;
}

#w-node-_07a32bea-7c09-3516-06bc-22c073d325a6-d2586321 {
  grid-area: 6 / 1 / 7 / 13;
}

#w-node-_77b9c3c9-c470-bdf3-be84-9de5f1fa12d3-d2586321 {
  grid-area: 1 / 4 / 2 / 13;
  align-self: center;
}

#w-node-_29bc8556-aadb-534f-565b-8cf726563631-d2586321 {
  grid-area: 1 / 1 / 2 / 3;
  align-self: auto;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b76-21f37c88 {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_87540087-6e63-875d-befe-9e151060e601-21f37c88 {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b81-21f37c88 {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b85-21f37c88 {
  grid-area: 5 / 1 / 6 / 7;
}

#w-node-_07a32bea-7c09-3516-06bc-22c073d325a6-21f37c88 {
  grid-area: 6 / 1 / 7 / 13;
}

#w-node-_77b9c3c9-c470-bdf3-be84-9de5f1fa12d3-21f37c88 {
  grid-area: 1 / 4 / 2 / 13;
  align-self: center;
}

#w-node-_29bc8556-aadb-534f-565b-8cf726563631-21f37c88 {
  grid-area: 1 / 1 / 2 / 3;
  align-self: auto;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b76-aa4cfe07 {
  grid-area: 2 / 1 / 3 / 13;
}

#w-node-_87540087-6e63-875d-befe-9e151060e601-aa4cfe07 {
  grid-area: 1 / 1 / 2 / 13;
  align-self: end;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b81-aa4cfe07 {
  grid-area: 3 / 1 / 4 / 13;
}

#w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b85-aa4cfe07 {
  grid-area: 5 / 1 / 6 / 7;
}

#w-node-_07a32bea-7c09-3516-06bc-22c073d325a6-aa4cfe07 {
  grid-area: 6 / 1 / 7 / 13;
}

#w-node-_77b9c3c9-c470-bdf3-be84-9de5f1fa12d3-aa4cfe07 {
  grid-area: 1 / 4 / 2 / 13;
  align-self: center;
}

#w-node-_29bc8556-aadb-534f-565b-8cf726563631-aa4cfe07 {
  grid-area: 1 / 1 / 2 / 3;
  align-self: auto;
}

@media screen and (min-width: 1920px) {
  #w-node-fa826b18-9d3b-5166-1f08-b32ddc5a4ea0-254993f3 {
    grid-area: 3 / 1 / 4 / 13;
  }

  #w-node-c8414903-3e1a-585b-a3cb-197bc53d2ebe-254993f3 {
    grid-area: 1 / 1 / 2 / 13;
  }

  #w-node-_251b9000-d726-00d8-ce50-ad493905d926-254993f3, #w-node-_79750ba7-ba71-4f0b-49ae-f0d80acae19f-254993f4 {
    grid-area: 6 / 1 / 7 / 13;
  }

  #w-node-a2c3650d-3fc4-65f4-cdd0-b9f687173a5a-87173a57 {
    grid-area: 1 / 1 / 2 / 6;
  }
}

@media screen and (max-width: 991px) {
  #w-node-c84f91ef-e959-cbf9-4671-c3998d2f5026-254993f3 {
    grid-row: 3 / 4;
  }

  #w-node-_34a8dba1-0925-17f8-aa65-e5d0d583a035-254993f3 {
    grid-area: 2 / 1 / 3 / 3;
  }

  #w-node-b0e90e5a-8965-4a7b-d696-6548bbc02206-bbc02203 {
    grid-row: 1 / 2;
  }

  #w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b7b-254993f4, #w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b82-254993f4, #w-node-_13dfe064-fb4f-7c6c-ca55-38ab686e8ce6-254993f5, #w-node-_6a20c567-6dfe-aedd-6ce4-5e5767383f5a-254993f5, #w-node-_6a20c567-6dfe-aedd-6ce4-5e5767383f61-254993f5 {
    grid-column-start: 6;
  }

  #w-node-_80e30cb0-1711-a9a9-fe73-6c4c23c25043-254993f6 {
    grid-column: 1 / 13;
  }

  #w-node-_178bf857-f2a4-32dc-edce-4d3412c89c36-254993f6, #w-node-_178bf857-f2a4-32dc-edce-4d3412c89c3d-254993f6 {
    grid-column-start: 6;
  }

  #w-node-a2c3650d-3fc4-65f4-cdd0-b9f687173a5a-87173a57 {
    grid-column-end: 13;
  }

  #w-node-a2c3650d-3fc4-65f4-cdd0-b9f687173a65-87173a57 {
    grid-row: 2 / 3;
    grid-column-start: 1;
  }

  #w-node-_55a753dc-c35a-2da3-759e-d7552b4781fc-254993f8, #w-node-_152fa396-3654-b66a-585a-d47ee12a2570-254993fb, #w-node-_91b2754f-b717-199d-a33f-3b4e3550e8f2-254993fb, #w-node-_5d0c8b1c-e84a-36c0-045e-44acc0109fc4-254993fb, #w-node-_30c7e67a-5764-fda9-3222-aed5dcbe6ba1-254993fb, #w-node-_5380b8b3-c278-5b08-bdb2-b2c7d9f21044-254993fb, #w-node-_8a8270fa-1ba5-a66b-7d58-3611872b2d9d-254993fc, #w-node-_3db13fca-ec33-c373-0a42-9c70b61135d7-254993fd {
    grid-column-start: 1;
  }

  #w-node-_87540087-6e63-875d-befe-9e151060e601-3f118c78, #w-node-_87540087-6e63-875d-befe-9e151060e601-3e79ad0f, #w-node-_87540087-6e63-875d-befe-9e151060e601-aa4c5b74, #w-node-_87540087-6e63-875d-befe-9e151060e601-d47110ad, #w-node-_87540087-6e63-875d-befe-9e151060e601-d2586321, #w-node-_87540087-6e63-875d-befe-9e151060e601-21f37c88, #w-node-_87540087-6e63-875d-befe-9e151060e601-aa4cfe07 {
    grid-column-start: 6;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_51f56cee-f8cb-c9a0-3736-32a3db32757b-254993f3 {
    grid-column-end: 13;
  }

  #w-node-d07b3140-ec6c-35a9-3354-b0c4d93f53d1-254993f3 {
    grid-row: 4 / 5;
    grid-column-start: 1;
  }

  #w-node-_98848bed-a3df-9eb9-58e5-9af6c325a586-254993f3 {
    grid-row: 5 / 6;
    grid-column-end: 13;
  }

  #w-node-_06041af8-6059-1620-2c0f-9c4a869749ff-254993f3 {
    grid-row: 6 / 7;
    grid-column-start: 1;
  }

  #w-node-_14a9e443-5e3d-a21d-f7eb-7454e188b4c4-254993f3 {
    grid-row: 11 / 12;
  }

  #w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b7b-254993f4, #w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b82-254993f4 {
    grid-column-start: 5;
  }

  #w-node-_13dfe064-fb4f-7c6c-ca55-38ab686e8ce6-254993f5 {
    grid-column: 5 / 13;
  }

  #w-node-fa0aa912-2bed-e27c-bf15-c6eb67f14562-254993f5 {
    grid-row: 2 / 3;
    grid-column-start: 1;
  }

  #w-node-fa0aa912-2bed-e27c-bf15-c6eb67f14563-254993f5 {
    grid-column-end: 13;
  }

  #w-node-_17a62185-0744-90b2-18b0-f08792ef06b0-254993f5 {
    grid-row: 3 / 4;
  }

  #w-node-_3356cbc8-79e8-291d-82b3-799d93720cce-254993f5 {
    grid-row: 3 / 4;
    grid-column-start: 1;
  }

  #w-node-fcf1fdea-5491-e438-7b78-6e9e1dab9ea4-254993f5 {
    grid-row: 2 / 3;
    grid-column-start: 1;
  }

  #w-node-_3356cbc8-79e8-291d-82b3-799d93720ccf-254993f5 {
    grid-column-end: 13;
  }

  #w-node-_6a20c567-6dfe-aedd-6ce4-5e5767383f5a-254993f5 {
    grid-column: 5 / 13;
  }

  #w-node-_6a20c567-6dfe-aedd-6ce4-5e5767383f61-254993f5, #w-node-_178bf857-f2a4-32dc-edce-4d3412c89c36-254993f6, #w-node-_178bf857-f2a4-32dc-edce-4d3412c89c3d-254993f6 {
    grid-column-start: 5;
  }

  #w-node-_55a753dc-c35a-2da3-759e-d7552b4781fc-254993f8, #w-node-_152fa396-3654-b66a-585a-d47ee12a2570-254993fb, #w-node-_91b2754f-b717-199d-a33f-3b4e3550e8f2-254993fb, #w-node-_5d0c8b1c-e84a-36c0-045e-44acc0109fc4-254993fb, #w-node-_30c7e67a-5764-fda9-3222-aed5dcbe6ba1-254993fb, #w-node-_5380b8b3-c278-5b08-bdb2-b2c7d9f21044-254993fb, #w-node-_8a8270fa-1ba5-a66b-7d58-3611872b2d9d-254993fc, #w-node-_3db13fca-ec33-c373-0a42-9c70b61135d7-254993fd {
    grid-column-end: 13;
  }

  #w-node-_87540087-6e63-875d-befe-9e151060e601-3f118c78, #w-node-_87540087-6e63-875d-befe-9e151060e601-3e79ad0f, #w-node-_87540087-6e63-875d-befe-9e151060e601-aa4c5b74, #w-node-_87540087-6e63-875d-befe-9e151060e601-d47110ad, #w-node-_87540087-6e63-875d-befe-9e151060e601-d2586321, #w-node-_87540087-6e63-875d-befe-9e151060e601-21f37c88, #w-node-_87540087-6e63-875d-befe-9e151060e601-aa4cfe07 {
    grid-column-start: 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b7b-254993f4, #w-node-_34bca6c0-4ef1-0000-228e-53fd1f184b82-254993f4, #w-node-_13dfe064-fb4f-7c6c-ca55-38ab686e8ce6-254993f5, #w-node-_6a20c567-6dfe-aedd-6ce4-5e5767383f5a-254993f5, #w-node-_6a20c567-6dfe-aedd-6ce4-5e5767383f61-254993f5, #w-node-_178bf857-f2a4-32dc-edce-4d3412c89c36-254993f6, #w-node-_178bf857-f2a4-32dc-edce-4d3412c89c3d-254993f6, #w-node-_55a753dc-c35a-2da3-759e-d7552b4781fc-254993f8, #w-node-_1db88f81-aa5a-fe72-9824-0d9fedf57bbe-254993f8, #w-node-_152fa396-3654-b66a-585a-d47ee12a2570-254993fb, #w-node-_91b2754f-b717-199d-a33f-3b4e3550e8f2-254993fb, #w-node-_5d0c8b1c-e84a-36c0-045e-44acc0109fc4-254993fb, #w-node-_30c7e67a-5764-fda9-3222-aed5dcbe6ba1-254993fb, #w-node-_5380b8b3-c278-5b08-bdb2-b2c7d9f21044-254993fb, #w-node-_8a8270fa-1ba5-a66b-7d58-3611872b2d9d-254993fc, #w-node-_3db13fca-ec33-c373-0a42-9c70b61135d7-254993fd, #w-node-_87540087-6e63-875d-befe-9e151060e601-3f118c78, #w-node-_87540087-6e63-875d-befe-9e151060e601-3e79ad0f, #w-node-_87540087-6e63-875d-befe-9e151060e601-aa4c5b74, #w-node-_87540087-6e63-875d-befe-9e151060e601-d47110ad, #w-node-_87540087-6e63-875d-befe-9e151060e601-d2586321, #w-node-_87540087-6e63-875d-befe-9e151060e601-21f37c88, #w-node-_87540087-6e63-875d-befe-9e151060e601-aa4cfe07 {
    grid-column-start: 1;
  }
}


@font-face {
  font-family: 'Intertight';
  src: url('../fonts/InterTight-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Intertight';
  src: url('../fonts/InterTight-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Intertight';
  src: url('../fonts/InterTight-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Intertight';
  src: url('../fonts/InterTight-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Intertight';
  src: url('../fonts/InterTight-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Intertight';
  src: url('../fonts/InterTight-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Intertight';
  src: url('../fonts/InterTight-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Intertight';
  src: url('../fonts/InterTight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}